<div style="width: calc(100vw - 0.5em); height:80vh;" fxLayout="column" fxLayoutAlign="space-evenly center">

  <mat-card style="width: 24vw">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="mat-conten" fxLayout="column" fxLayoutGap="10px">
      <section style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
          <button class="button-google" style="width:45%; position: relative"  mat-raised-button color="warn">
           <div fxLayoutAlign="center center" class="content-icon-google"> <mat-icon class="icon-google"></mat-icon> </div>
            <span>Enter with</span>
          </button>
          <button (click)="submitLogin();" class="button-facebook" style="width: 45%; position:relative" mat-raised-button color="primary">
            <div fxLayoutAlign="center center" class="content-icon-facebook"> <mat-icon class="icon-facebook"></mat-icon></div> 
              <span>Enter with</span>
          </button>
        </section>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" value="example@gmail.com" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="typeInput?'text':'password'" [(ngModel)]="value" >
        <mat-hint align="start"><mat-checkbox>Remember me</mat-checkbox> </mat-hint>
        <mat-hint align="end" fxLayout="row" fxLayoutAlign="start center" > <a routerLink=".">Forgout password?</a></mat-hint>
        <button mat-button  matSuffix mat-icon-button  (click)='typeInput=!typeInput'>
          <mat-icon>{{!typeInput?'visibility':'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <button class="button-login" mat-raised-button color="primary">Login</button>
      <!-- <button mat-raised-button color="accent">Crear cuenta</button> --> 
      <p style="font-size:12px">You have not created your account yet? <a  [routerLink]="['/no/create-account']">Create account?</a></p>
    </mat-card-actions>
  </mat-card>
</div>