
.example-header-image {
  background-image: url('https://us.123rf.com/450wm/tesphoto/tesphoto1704/tesphoto170400167/76965877-male-portrait-flat-design-vector-illustration-modern-avatar-.jpg?ver=6');
  background-size: cover;
}

.Title{
  font-size:13px;
  font-weight:400;
}

.TitleStartDate{
  font-weight: bold;
  font-size:13px;
  color:#769ebe
}

.TitleEndDate{
  font-weight: bold;
  font-size:13px;
  color:#da2323
  }

  .body-card{
    justify-content: space-between;
    height: 230px;
  }