.ContainerFormContainer{
    width: 100%;
    display: flex;
    justify-content: center;  
    align-content: center;
    align-items: center;


}

.FormContainer{
width: 100%;
max-width: 600px;
display: flex;
justify-content: center;
flex-direction: column;
margin: 10px;
padding: 20px;
}

.Date{
    width: 100%;
    max-width: 280px;
}