<div>
    <div fxLayout.lt-md="column" class="ContainerSearch">
        <app-search (onSearch)="searchVal = $event" class="AppSearch"></app-search>
        <div fxLayoutGap="5px">
            <a [routerLink]="['/assistant-policy/new']" mat-raised-button matTooltip="Agregar">
                <mat-icon color="warn">add</mat-icon>
            </a>
            <button (click)="logout()" mat-raised-button matTooltip="Loguear/Desloguear" [routerLink]="['/auth/login']">
                <mat-icon color="primary">transit_enterexit</mat-icon>
            </button>
        </div>

    </div>
    <div class="ContainerList">
        <app-mask-loading [loading]="loading"></app-mask-loading>
        <div class="ContainerCard" *ngFor="let dataPolicy of PolicyList | search:searchVal:propertiesSearch">
            <app-card (OnDelete)="Delete($event)" [data]="dataPolicy"> </app-card>
        </div>
    </div>
</div>